<div class="card-video">
    <div class="conteudo-card">
      <div class="zoom-container ">
        <img src="{{movie?.image}}" alt="poster">
      </div>
      <div class="informativo-filme">
        <h4 class="titulo text-truncate w-100">
          {{movie?.title?.toUpperCase()}}
        </h4>
        <div class="d-flex">
          <p class="mt-0 mb-2 me-2">{{movie?.original_title}}</p>
          <p class="mt-0 mb-2"> - </p>
          <p class="mt-0 mb-2 ms-2">{{movie?.original_title_romanised}}</p>
        </div>
        <div class="ano-tempo-genero d-flex">
          <p class="me-2 mt-0">{{movie?.release_date}} &bull;</p>
          <p class="me-2 mt-0">{{movie?.running_time}}min &bull;</p>
          <p class="me-2 mt-0">Animation</p>
        </div>
        <div class="classificacao circle">
          <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
          </div>
        </div>
        <div class="descricao multiline-truncate">
          <p [title]="movie?.description">
            {{movie?.description}}
          </p>
        </div>
        <div class="botao-interacao"></div>
      </div>
    </div>
</div>